<!DOCTYPE html>
<html ng-app="calorieTracker">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="/static/calorie_tracker/jquery.cookie.js"></script>
    <script src="/static/calorie_tracker/calorie_tracker.js"></script>
</head>
<body>
    <div class="page-header">
        <h1>Calorie Tracker</h1>
    </div>
    <div ng-controller="MainController">
        <div class="container" ng-show="!authToken">
            <div class="row">
                <div class="row">
                    <div class="col-sm-1">
                        <label>Username</label>
                    </div>
                    <div class="col-sm-1">
                        <input type="text" ng-model="username" placeholder="Username" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1">
                        <label>Password</label>
                    </div>
                    <div class="col-sm-1">
                        <input type="password" ng-model="password" placeholder="Password" ng-enter="loginUser()" required>
                    </div>
                </div>
                <div class="row">
                    <button class="btn btn-primary" ng-click="registerUser()">Register</button>
                    <button class="btn btn-success" ng-click="loginUser()">Login</button>
                </div>
            </div>
        </div>
        <div class="container" ng-show="authToken">
            <button class="btn btn-primary" ng-click="logoutUser()">Logout</button>
            <div class="row">
                Operating As: <span ng-show="!isStaff">{%  verbatim %}{{ username }}{% endverbatim %}</span>
                <select ng-show="isStaff" ng-model="user" ng-options="user.username for user in userList track by user.id"></select>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <style type="text/css">
                    .red {
                        color: red;
                    }
                    .green {
                        color: green;
                    }
                    .black {
                        color: black;
                    }
                    </style>
                    Expected Calories: <input ng-model="user.expected_calories" ng-blur="updateUser()"/>
                    Total Calories: <span ng-class='{black: !user.expected_calories, red: totalCalories > user.expected_calories, green: totalCalories <= user.expected_calories }'>{% verbatim %}{{ totalCalories }}{% endverbatim %}</span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <input type="text" ng-model="text" placeholder="Meal Text" required>
                    <input type="text" ng-model="calories" placeholder="Meal Calories" required>
                    <button class="btn btn-info" ng-click="newMeal()">New Meal</button>
                </div>
            </div>
            Meals:
            <input ng-model="startDate" placeholder="Start Date (YYYYMMDD)" ng-blur="getMeals()"/>
            <input ng-model="endDate" placeholder="End Date (YYYYMMDD)" ng-blur="getMeals()"/>
            <input ng-model="startTime" placeholder="Start Time (HHMMSS)" ng-blur="getMeals()"/>
            <input ng-model="endTime" placeholder="End Time (HHMMSS)" ng-blur="getMeals()"/>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Text</th>
                                <th>Calories</th>
                                <th>Time</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="meal in meals">
                                <td>{% verbatim %}{{ userById[meal.person].username }}{% endverbatim %}</td>
                                <td><input ng-model="meal.text"/></td>
                                <td><input ng-model="meal.calories"/></td>
                                <td><input ng-model="meal.time"/></td>
                                <td><input ng-model="meal.date"/></td>
                                <td><button class="btn btn-danger" ng-click="deleteMeal(meal)">Delete</button></td>
                                <td><button class="btn btn-warning" ng-click="updateMeal(meal)">Update</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>