<!DOCTYPE html>
<html ng-app="calorieTracker">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="/static/calorie_tracker/jquery.cookie.js"></script>
    <script src="/static/calorie_tracker/calorie_tracker.js"></script>
</head>
<body>
    <div class="page-header">
        <h1>Calorie Tracker</h1>
    </div>
    <div class="container">
        <div class="row">
            <div ng-controller="RegisterLoginController as register">
                <div class="row">
                    <div class="col-sm-1">
                        <label>Username</label>
                    </div>
                    <div class="col-sm-1">
                        <input type="text" ng-model="register.username" placeholder="Username" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1">
                        <label>Password</label>
                    </div>
                    <div class="col-sm-1">
                        <input type="password" ng-model="register.password" placeholder="Password" required>
                    </div>
                </div>
                <div class="row">
                    <button class="btn btn-primary" ng-click="register.registerUser()">Register</button>
                    <button class="btn btn-success" ng-click="register.loginUser()">Login</button>
                </div>
            </div>
        </div>
    </div>



    <div ng-controller="MealController as meals">
        {{ meals.total_calories }}
        <span ng-repeat="meal in meals.meals">{{ meal.id }} : {{ meal.text }} : {{  meal.calories }} : {{  meal.time }}</span>
    </div>
</body>
</html>